@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    @apply shadow-black/50 shadow-inner;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(95, 95, 95);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover:active {
    background-color: rgb(87, 87, 87);
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
  }
}
@layer utilities {
}
